<footer class="footer">
    <div class="section-wrapper">
        <div class="row ">
            <div class="col-6 footer-header">
                <a href="#" class="logo">
                    <img style="margin-right: 10px; width: 80px;" src="assets/img/ico.png" />
                </a>

                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quas, possimus eius. Deserunt non odit, cum vero reprehenderit
                    laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium,
                    facere ab suscipit.
                </p>
                <div class="social-list">
                    <a href="#" class="social-item">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="#" class="social-item">
                        <i class="bx bxl-instagram"></i>
                    </a>
                    <a href="#" class="social-item">
                        <i class="bx bxl-twitter"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 footer-item">
                <div class="row">
                    <div class="col-4 align-items-center">
                        <div class="content">
                            <p class="main-color" style="font-size: 1.2rem;"><b>Flix</b></p>
                            <ul class="footer-menu">
                                <li><a href="#"> About us</a></li>
                                <li><a href="#"> My profile</a></li>
                                <li><a href="#"> Pricing plans</a></li>
                                <li><a href="#"> Contacts</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-4 align-items-center">
                        <div class="content">
                            <p class="main-color" style="font-size: 1.2rem;"><b>Browse</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">Live TV</a></li>
                                <li><a href="#">Live Movies</a></li>
                                <li><a href="#">Live Series</a></li>
                                <li><a href="#">Streaming Library</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-4 align-items-center">
                        <div class="content">
                            <p class="main-color" style="font-size: 1.2rem;"><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">Account & Billing</a></li>
                                <li><a href="#">Plans & Pricing</a></li>
                                <li><a href="#">Supported devices</a></li>
                                <li><a href="#">Accessibility</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="src/js/main.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let navItem = document.querySelectorAll(".nav-item");
        let params = new URLSearchParams(window.location.search);
        let currentPage = params.get("p");

        navItem.forEach(item => {
            if (item.id === (currentPage || "home")) {
                item.classList.add("active");
            }
        });
    });
</script>
</body>

</html>