<footer class="footer">
    <div class="section-wrapper">
        <div class="row ">
            <div class="col-6 footer-header">
                <a href="#" class="logo">
                    <img style="margin-right: 10px; width: 80px;" src="assets/img/ico.png" />
                </a>

                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quas, possimus eius. Deserunt non odit, cum vero reprehenderit
                    laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium,
                    facere ab suscipit.
                </p>
                <div class="social-list">
                    <a href="#" class="social-item">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="#" class="social-item">
                        <i class="bx bxl-instagram"></i>
                    </a>
                    <a href="#" class="social-item">
                        <i class="bx bxl-twitter"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 footer-item">
                <div class="row">
                    <div class="col-4 align-items-center">
                        <div class="content">
                            <p class="main-color" style="font-size: 1.2rem;"><b>Flix</b></p>
                            <ul class="footer-menu">
                                <li><a href="#"> About us</a></li>
                                <li><a href="#"> My profile</a></li>
                                <li><a href="#"> Pricing plans</a></li>
                                <li><a href="#"> Contacts</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-4 align-items-center">
                        <div class="content">
                            <p class="main-color" style="font-size: 1.2rem;"><b>Browse</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">Live TV</a></li>
                                <li><a href="#">Live Movies</a></li>
                                <li><a href="#">Live Series</a></li>
                                <li><a href="#">Streaming Library</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-4 align-items-center">
                        <div class="content">
                            <p class="main-color" style="font-size: 1.2rem;"><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">Account & Billing</a></li>
                                <li><a href="#">Plans & Pricing</a></li>
                                <li><a href="#">Supported devices</a></li>
                                <li><a href="#">Accessibility</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="src/js/main.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navItems = document.querySelectorAll(".nav-item");
        const params = new URLSearchParams(window.location.search);
        const currentPage = params.get("p") || "home";

        navItems.forEach(item => {
            if (item.id === currentPage) {
                item.classList.add("active");
            }
        });
    });

    // MOBILE MENU
    let menu_tablet = document.querySelector(".menu-tablet");
    let menu_toggle = document.querySelector(".menu-toggle");

    if (menu_toggle && menu_tablet) {
        menu_toggle.onclick = function () {
            menu_toggle.classList.toggle("active");
            menu_tablet.classList.toggle("active");
        };
    }

    // SLIDE
    let big_slider = document.querySelector("#big-slider");

    let big_slide_items = big_slider.querySelectorAll(".big-slide-item");

    let big_slide_index = 0;

    let slide_play = true;

    let slide_next = big_slider.querySelector(".slide-next");
    let slide_prev = big_slider.querySelector(".slide-prev");

    let header = document.querySelector(".nav");

    showSlide = (index) => {
        big_slider.querySelector(".big-slide-item.active").classList.remove("active");
        big_slide_items[index].classList.add("active");
    };

    nextSlide = () => {
        big_slide_index =
            big_slide_index + 1 === big_slide_items.length ? 0 : big_slide_index + 1;
        showSlide(big_slide_index);
    };

    prevSlide = () => {
        big_slide_index =
            big_slide_index - 1 < 0 ? big_slide_items.length - 1 : big_slide_index - 1;
        showSlide(big_slide_index);
    };

    if (slide_next && slide_prev) {
        slide_next.addEventListener("click", () => nextSlide());
        slide_prev.addEventListener("click", () => prevSlide());
    }

    big_slider.addEventListener("mouseover", () => (slide_play = false));

    big_slider.addEventListener("mouseleave", () => (slide_play = true));

    setTimeout(() => big_slide_items[0].classList.add("active"), 200);

    setInterval(() => {
        if (!slide_play) return;
        nextSlide();
    }, 5000);

    window.addEventListener("scroll", () => {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            header.classList.add("shrink");
        } else {
            header.classList.remove("shrink");
        }
    });

    let scroll =
        window.requestAnimationFrame ||
        function (callback) {
            window.setTimeout(callback, 1000 / 60);
        };

    let el_to_show = document.querySelectorAll(".show-on-scroll");

    isElInViewPort = (el) => {
        let rect = el.getBoundingClientRect();

        let distance = 200;

        return (
            rect.top <=
            (window.innerHeight - distance ||
                document.documentElement.clientHeight - distance)
        );
    };

    loop = () => {
        el_to_show.forEach((el) => {
            if (isElInViewPort(el)) el.classList.add("show");
        });
        scroll(loop);
    };

    loop();

    // PROGRESS BAR
    let scrollPrecentage = () => {
        let scrollProgress = document.getElementById("progress-bar");
        let pos = document.documentElement.scrollTop;
        let calcHeight =
            document.documentElement.scrollHeight -
            document.documentElement.clientHeight;
        let scrollVal = Math.round((pos * 100) / calcHeight);
        scrollProgress.style.background = `conic-gradient(#e70634 ${scrollVal}%, #2b2f38 ${scrollVal}%)`;
    };

    window.onload = scrollPrecentage;
    window.onscroll = scrollPrecentage;

    //   MOBILE NAV
    var list = document.querySelectorAll(".item");

    function activeLink() {
        list.forEach((item) => item.classList.remove("active"));
        this.classList.add("active");
    }

    list.forEach((item) => item.addEventListener("click", activeLink));

</script>
</body>

</html>